.App {
    display: flex;
    flex-direction: column;
}
.App-content {
    width: 80%;
    margin: auto;
}
.main-content {
    background-color: rgb(49, 68, 62);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    color: white;
}
